<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="../static/img/gamewin/navbar_mainmenu.gif"
        type="image/x-icon" />
    <title>{% block title %}2004Progress{% endblock %}</title>
  </head>
  <body>
    <header class="custom-header">
      <nav>
        <div class="nav-container">
          <div class="brand-container">
            <a class="site-brand" href="/">2004Progress</a>
          </div>
          <button class="nav-toggle" aria-label="Toggle navigation">☰</button>
          <div class="nav-menu">
            <a href="/rates">Rates</a>
            <a href="/ehp-leaderboard">EHP Leaderboard</a>
            <a href="/records">XP Records</a>
          </div>
        </div>
      </nav>
    </header>
    <div id="bgfix">
      <div id="main">
        <div class="bordered-container">
          <div></div> <!-- Empty div for :first-child pseudo-elements -->
          <div class="horizontal-edge-top"></div>
          <div class="horizontal-edge-bottom"></div>
          <div class="vertical-container"></div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <footer class="custom-footer">
      <div class="nav-container" style="flex-direction: row;">
        <span>Not affiliated with <a href="https://2004.lostcity.rs/" target="_blank" rel="noopener noreferrer">Lost City</a></span>|
        <span>Created by <a href="https://2004progress.dson.cloud/fetch?username=agi" target="_blank" rel="noopener noreferrer">Agi</a>/<a href="https://github.com/R-Dson" target="_blank" rel="noopener noreferrer">R-Dson</a></span>|
        <span><a href="https://github.com/R-Dson/2004Progress" target="_blank" rel="noopener noreferrer">Open Source Project.</a></span>
      </div>
      <div class="time-container" style="color: white; font-size: 14px; margin-right: 20px;">
        Server Time: <span id="serverTime"></span>
      </div>
    </footer>
    <script>
      document.querySelector('.nav-toggle').addEventListener('click', function(e) {
        document.querySelector('.nav-menu').classList.toggle('active');
      });

      function updateServerTime() {
        const now = new Date();
        const hours = now.getUTCHours().toString().padStart(2, '0');
        const minutes = now.getUTCMinutes().toString().padStart(2, '0');
        const seconds = now.getUTCSeconds().toString().padStart(2, '0');
        document.getElementById('serverTime').textContent = `${hours}:${minutes}:${seconds}`;
      }
      
      updateServerTime();
      setInterval(updateServerTime, 1000);
    </script>
  </body>
</html>
