<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}2004Progress{% endblock %}</title>
  </head>
  <body>
    <header class="custom-header">
      <nav>
        <div class="nav-container">
          <a class="site-brand" href="/">2004Progress</a>
          <a href="/rates">Rates</a>
        </div>
      </nav>
    </header>
    <div id="bgfix">
      <div id="main">
        <div class="bordered-container">
          <div></div> <!-- Empty div for :first-child pseudo-elements -->
          <div class="horizontal-edge-top"></div>
          <div class="horizontal-edge-bottom"></div>
          <div class="vertical-container"></div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <footer class="custom-footer">
      <a href="https://github.com/R-Dson/2004Progress">2004Progress - Open Source Project</a>
    </footer>
    <script>
      document.querySelector('.nav-toggle').addEventListener('click', function() {
        document.querySelector('.nav-menu').classList.toggle('active');
      });
    </script>
  </body>
</html>
