{% extends 'base.html' %}
{% block title %}EHP Leaderboards{% endblock %}

{% block content %}
<div class="leaderboard-container">
    {% for skill, leaders in leaderboards.items() %}
    <div class="leaderboard-section">
        <h3>{{ skill }} EHP Leaderboard</h3>
        <table class="data-table">
            <thead>
                <tr>
                    <th style="width: 13%;">Rank</th>
                    <th>Username</th>
                    <th style="width: 14%;">EHP</th>
                    <th style="width: 13%;">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for leader in leaders %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td style="font-size: 1.3rem;"><a href="{{ url_for('fetch_hiscores_route', username=leader.username) }}">{{ leader.username }}</a></td>
                    <td>{{ "%.1f"|format(leader.ehp) }}</td>
                    <td style="font-size: 1rem;">{{ leader.last_updated.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
                {% if not leaders %}
                <tr>
                    <td colspan="4">No entries yet</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}