{% extends 'base.html' %}
{% block title %}Hiscores{% endblock %}
{% block content %}
  {% if username %}
    <h1>Hiscores for {{ username }}</h1>
{% if graphs %}
  <div class="graph-container">
    {% for graph in graphs %}
      {{ graph|safe }}
    {% endfor %}
  </div>
{% else %}
      <p>No graphs available.</p>
      {% endif %}
      <div style="margin-top: 20px;">
         {% if ehp_data %}
         <div>
            <h4>Efficiency Hours Played</h4>
            <table class="data-table">
               <thead>
                  <tr>
                     <th>Skill</th>
                     <th>EHP</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><strong>Total</strong></td>
                     <td><strong>{{ total_ehp }}</strong></td>
                  </tr>
                  {% for skill, value in ehp_data.items() %}
                  <tr>
                     <td>{{ skill }}</td>
                     <td>{{ value }}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
         {% endif %}
         <div>
            <h4>Progress Overview</h4>
            <table class="data-table">
               <thead>
                  <tr>
                     <th>Skill</th>
                     <th>Monthly</th>
                     <th>Weekly</th>
                     <th>Daily</th>
                  </tr>
               </thead>
               <tbody>
               {% for skill, progress in progress_by_skill.items() %}
                  <tr>
                     <td>{{ skill }}</td>
                     <td>{{ progress.monthly if progress.monthly is not none else 'N/A' }}</td>
                     <td>{{ progress.weekly if progress.weekly is not none else 'N/A' }}</td>
                     <td>{{ progress.daily if progress.daily is not none else 'N/A' }}</td>
                  </tr>
               {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
  {% else %}
    <p>No username provided.</p>
  {% endif %}
{% endblock %}
