{% extends 'base.html' %}
{% block title %}Skill Rates{% endblock %}
{% block content %}
  <h31>Skill Rates</h3>
  {% for skill, rates in skill_rates.skills.items() %}
    <h4>{{ skill }}</h4>
    {% if rates %}
      <table class="data-table rates-table">
        <thead>
          <tr>
            <th>Min Level</th>
            <th>Max Level</th>
            <th>Method</th>
            <th>Rate</th>
            <th>Bonuses</th>
          </tr>
        </thead>
        <tbody>
          {% for rate in rates %}
          <tr>
            <td>{{ rate.min_level }}</td>
            <td>{{ rate.max_level if rate.max_level is not none else "99+" }}</td>
            <td style="font-size: 1rem;">{{ rate.method }}</td>
            <td style="font-size: 1.1rem;">{{ rate.rate }}</td>
            <td style="font-size: 1.1rem;">
              {% if rate.bonus_xp %}
                XP: {{ rate.bonus_xp }}
                {% if rate.bonus_skills %}<br>{% endif %}
              {% endif %}
              {% if rate.bonus_skills %}
                {% for bonus in rate.bonus_skills %}
                  {% for bonus_skill, bonus_value in bonus.items() %}
                    {{ bonus_skill }}: {{ bonus_value }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No data available for {{ skill }}.</p>
    {% endif %}
  {% endfor %}
{% endblock %}
